@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">Info</h1>
    Pravila ove dvije igre na sreću su poprilično jednostavna.<br>
    U lotu 7 od 39 trebate pogoditi sedam, a u lotu 6 od 45 šest brojeva.<br>
    Dok u lotu 7/39 osvajate određenu sumu novca pri pogođena 4 broja, u slučaju lota 6/45 morate pogoditi najmanje polovicu brojeva, to znači 3.<br>
    Naravno, što više brojeva pogodite, to veći iznos osvajate.<br>
    Sve što trebate napraviti je kupiti listić, i križićem zaznačiti odgovarajući broj brojeva, ovisno o vrsti lota kojeg igrate.<br>
</div>
